*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  height: 100vh;
  background-image: url(https://raw.githubusercontent.com/CodeLab98/DOM-P2-Source-Code/main/Master%20DOM%20Manipulation%20P2/img/project-5.jpg);
  background-position: top center;
  background-size: cover;
  background-repeat: repeat;
  display: flex;
  margin: 0 1rem;
  align-items: center;
}

button {
  all: unset;
  cursor: pointer;
}

button:focus {
  outline: orange 5px auto;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 0 auto;
}

.input-box {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.container {
  position: relative;
  padding: 1rem 2rem;
  background-color: white;
  border-radius: 12px;
}

#Btn {
  color: green;
  display: flex;
  padding: 0.2rem 1rem;
  outline: 2px solid green;
  border-radius: 8px;
  margin-left: 1rem;
  transition: 0.3s;
}

#Btn:hover {
  background-color: green;
  color: white;
}

#Btn svg {
  height: 32px;
  width: 32px;
}

.inputBtn {
  all: unset;
  height: 100%;
  width: 100%;
  font-size: 1.4rem;
}

.input-box:focus {
  outline: orange 5px auto;
}

.value-boxes {
  position: absolute;
  margin-top: 1rem;
  width: 100%;
  overflow: hidden;
  top: 100%;
  left: 0;
}

.line {
  color: red;
  transition: 0.3s text-decoration;
  text-decoration: line-through;
}

.task-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
  border-radius: 12px;
  padding: 1rem;
  background-color: white;
  margin-bottom: 1.5rem;
}



.task-check {
  display: flex;
  justify-content: center;
  align-items: center;
  color: orange;
  padding: 0.5rem;
  outline: 2px solid orange;
  border-radius: 8px;
  transition: 0.3s;
}

.task-check:hover {
  background-color: orange;
  color: white;
}

.task-check svg {
  height: 32px;
  width: 32px;
}

.task-delete {
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
  padding: 0.5rem;
  outline: 2px solid red;
  border-radius: 8px;
  transition: 0.3s;
  margin-left: 1rem;
}

.task-delete:hover {
  background-color: red;
  color: white;
}

.delete {
  transition: 0.3s;
  visibility: hidden;
  display: none;
}

.task-delete svg {
  height: 28px;
  width: 28px;
}

.right-side {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: calc(40% - 10px);
}

.left-side {
  display: inline-block;
  word-wrap: break-word;
  white-space: wrap;
  overflow-wrap: break-word;
  width: calc(60% - 10px);
}


@media only screen and (max-width: 300px) {



  .task-check svg {
    height: 22px;
    width: 22px;
  }


  .task-delete svg {
    height: 20px;
    width: 20px;
  }



}